* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
}

header {
  padding: 30px;
  text-align: center;
  background-color: steelblue;
  color: white;
}

nav {
  display: flex;
  background-color: #333;
  height: 15%;
  width: auto;
  justify-content: center;
}

.game {
  display: flex;
  flex-wrap: wrap;
  background-color: steelblue;
  min-height: 500px;
  justify-content: center;
}

.game-elements-container{
  display: flex;
   height: 400px;
   min-width: 300px;
   background-color:#333;
   margin-top: 30px;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   
   
}

.small-logo{
  border-radius: 8px;
  color: white;
  font-size: xx-large;
  width: 75%;
  height: 45px;
  text-align: center;
  background-color: steelblue;
  text-align: center;
  
 }

.input-number{
  width: 75%;
  height: 45px;
  font-size: xx-large;
  text-align: center;
  
}
 .submit-guess{
  border-radius: 8px;
  width: 75%;
  height: 45px;
  font-size: large;
  text-align: center;
  background-color: steelblue;
}

.count{
  background-color: steelblue;
  width: 75%;
  height: 45px;
  background-color: white;
  border-radius: 8px;
  text-align: center;
  font-size: large;
}
.guessBox{
  background-color: steelblue;
  width: 75%;
  height: 45px;
  background-color: white;
  border-radius: 8px;
  text-align: center;
  font-size: large;
  
}

nav a {
  color: white;
  text-decoration: none;
  padding: 20px;
  text-align: center;
}

navbar a:hover {
  color: #333;
  background-color: #fff;
}

/* popup Window */

/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}